<!DOCTYPE html>
<html>
    <head>
        <title>gee-gateway-web</title>
        <link rel="shortcut icon" href="static/gee_gateway/assets/images/favicon.ico">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
        <link href="static/gee_gateway/assets/css/style.css" media="all" rel="stylesheet" type="text/css" />
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
    </head>
    <body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="" class="navbar-brand">gee-gateway-web</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="static/docs/index.html" target="_blank">
                            <span class="glyphicon glyphicon-book" aria-hidden="true"></span> DOCUMENTATION
                        </a>
                    </li>
                    <li><a href="https://github.com/openforis/gee-gateway" target="_blank">GITHUB</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active"><a href="#tab1primary" data-toggle="tab">/image</a></li>
                            <li><a href="#tab2primary" data-toggle="tab">/imageByMosaicCollection</a></li>
                            <li><a href="#tab3primary" data-toggle="tab">/timeSeriesIndex</a></li>
                            <li><a href="#tab4primary" data-toggle="tab">/ndviChange</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab1primary">
                                <div class="form-group">
                                    <label>Image</label>
                                    <select class="form-control" name="imageName">
                                        <option value="" selected>CHOOSE AN IMAGE</option>
                                        <option value="srtm90_v4">srtm90_v4</option>
                                        <option value="MCD12Q1/MCD12Q1_005_2001_01_01">MCD12Q1/MCD12Q1_005_2001_01_01</option>
                                        <option value="MOD09GA/MOD09GA_005_2012_03_09">MOD09GA/MOD09GA_005_2012_03_09</option>
                                        <option value="ERROR">ERROR</option>
                                    </select>
                                </div>
                                <button type="button" class="btn btn-primary" name="image">Send</button>
                            </div>
                            <div class="tab-pane fade" id="tab2primary">
                                <div class="form-group">
                                  <label>ImageCollection</label>
                                  <select class="form-control" name="collectionName">
                                      <option value="" selected>CHOOSE A COLLECTION</option>
                                      <option value="NDVI">NDVI</option>
                                      <option value="EVI">EVI</option>
                                      <option value="EVI2">EVI2</option>
                                      <option value="NDMI">NDMI</option>
                                      <option value="NDWI">NDWI</option>
                                  </select>
                                </div>
                                <div class="form-group">
                                  <label>From (YYYY-MM-DD)</label>
                                  <input type="text" class="form-control" name="dateFrom" />
                                </div>
                                <div class="form-group">
                                  <label>To (YYYY-MM-DD)</label>
                                  <input type="text" class="form-control" name="dateTo" />
                                </div>
                                <button type="button" class="btn btn-primary" name="test">ASTER</button>
                                <button type="button" class="btn btn-primary" name="imageByMosaicCollection">Send</button>
                            </div>
                            <div class="tab-pane fade" id="tab3primary">
                                <div class="form-group">
                                    <label>ImageCollection</label>
                                    <select class="form-control" name="collectionNameTimeSeries">
                                        <option value="" selected>CHOOSE A COLLECTION</option>
                                        <option value="LANDSAT/LE7_L1T_32DAY_NDVI">LANDSAT/LE7_L1T_32DAY_NDVI</option>
                                        <option value="LANDSAT/LE7_L1T_8DAY_NDWI">LANDSAT/LE7_L1T_8DAY_NDWI</option>
                                        <option value="LANDSAT/LE7_L1T_8DAY_EVI">LANDSAT/LE7_L1T_8DAY_EVI</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>IndexName</label>
                                    <select class="form-control" name="indexName">
                                        <option value="" selected>CHOOSE AN INDEX</option>
                                        <option value="NDVI">NDVI</option>
                                        <option value="NDWI">NDWI</option>
                                        <option value="EVI">EVI</option>
                                        <option value="NDMI">NDMI</option>
                                        <option value="EVI2">EVI2</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Geometry (Polygon or Point)</label>
                                    <input class="form-control" name="geometry" value="[[-85.25507948537992, 40.10371721058706],[-85.25425851083126, 40.103717207677605],[-85.25425851083126, 40.10308678503157],[-85.25507948537992, 40.10308678794103],[-85.25507948537992, 40.10371721058706]]"></input>
                                </div>
                                <div class="form-group">
                                    <label>Scale</label>
                                    <input type="text" class="form-control" name="scale" value="30" />
                                </div>
                                <div class="form-group">
                                    <label>From (YYYY-MM-DD)</label>
                                    <input type="text" class="form-control" name="dateFromTimeSeries" />
                                </div>
                                <div class="form-group">
                                    <label>To (YYYY-MM-DD)</label>
                                    <input type="text" class="form-control" name="dateToTimeSeries" />
                                </div>
                                <button type="button" class="btn btn-primary" name="timeSeriesIndex">Send</button>
                                <button type="button" class="btn btn-primary" name="timeSeriesIndex2">Send2</button>
                            </div>
                            <div class="tab-pane fade" id="tab4primary">
                                <div class="form-group">
                                  <label>From (YYYY)</label>
                                  <input type="text" class="form-control" name="yearFrom" />
                                </div>
                                <div class="form-group">
                                  <label>To (YYYY)</label>
                                  <input type="text" class="form-control" name="yearTo" />
                                </div>
                                <button type="button" class="btn btn-primary" name="ndviChange">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <br />
                        <div id="map"></div>
                        <div id="chart" style="display: none;">
                            <div id="container" style="width:100%; height:400px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Latitude</label>
                    <input type="text" class="form-control" name="lat" data-default="41.891" value="41.891" />
                </div>
                <div class="form-group">
                    <label>Longitude</label>
                    <input type="text" class="form-control" name="lng" data-default="12.511" value="12.511" />
                </div>
                <div class="form-group">
                    <label>Min</label>
                    <input type="text" class="form-control" name="min" />
                </div>
                <div class="form-group">
                    <label>Max</label>
                    <input type="text" class="form-control" name="max" />
                </div>
                <div class="form-group">
                    <label>Bands</label>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="band1" />
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="band2" />
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="band3" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Gamma</label>
                    <input type="text" class="form-control" name="gamma" />
                </div>
                <div class="form-group">
                    <label>Palette</label>
                    <input type="text" class="form-control" name="palette" />
                </div>
                <button type="button" class="btn btn-warning">RESET</button>
            </div>
        </div>
    </div>

    {% if config.GMAPS_API_KEY is defined and config.GMAPS_API_KEY != '' %}
        <script src="http://maps.google.com/maps/api/js?key={{ config.GMAPS_API_KEY }}"></script>
    {% else %}
        <script src="http://maps.google.com/maps/api/js"></script>
    {% endif %}

    <script>
        var lat = $("input[name='lat']").val();
        var lng = $("input[name='lng']").val();
        lat = parseFloat(lat);
        lng = parseFloat(lng);
        var myLatLng = new google.maps.LatLng(lat, lng);
        var mapOptions = {
            center: myLatLng,
            zoom: 8,
            maxZoom: 14,
            streetViewControl: false,
            mapTypeId: 'satellite',
            styles: [{
                featureType: "water",
                elementType: "labels",
                stylers: [{
                    visibility: "off"
                }]
            }]
        };
        map = new google.maps.Map(document.getElementById('map'), mapOptions);
    </script>

    <script>

    $('button.btn-warning').click(function(e) {
        e.preventDefault();
        $("select[name='imageName']").val('');
        $("select[name='collectionName']").val('');
        $("input[name='lat']").val($("input[name='lat']").data('default'));
        $("input[name='lng']").val($("input[name='lng']").data('default'));
        $("input[name='min']").val('');
        $("input[name='max']").val('');
        $("input[name='band1']").val('');
        $("input[name='band2']").val('');
        $("input[name='band3']").val('');
        $("input[name='gamma']").val('');
        $("input[name='dateFrom']").val('');
        $("input[name='dateTo']").val('');
    });

    $('button.btn-primary').click(function(e) {
        e.preventDefault();
        var serviceName = $(this).attr("name");
        var imageName = $("select[name='imageName']").val();
        var collectionName = $("select[name='collectionName']").val();
        var bands = '';
        var b1 = $("input[name='band1']").val();
        var b2 = $("input[name='band2']").val();
        var b3 = $("input[name='band3']").val();
        if (b1 != '' && b2 != '' && b3 != '') {
            bands = b1 + ',' + b2 + ',' + b3;
        }
        var visParams = {
            min: $("input[name='min']").val(),
            max: $("input[name='max']").val(),
            bands: bands
        };
        var gamma = $("input[name='gamma']").val();
        if (gamma != '') visParams['gamma'] = gamma;
        var palette = $("input[name='palette']").val();
        if (palette != '') visParams['palette'] = palette;
        var dateFrom = $("input[name='dateFrom']").val();
        var dateTo = $("input[name='dateTo']").val();
        var collectionNameTimeSeries = $("select[name='collectionNameTimeSeries']").val();
        var indexName = $("select[name='indexName']").val();
        var geometry = $("input[name='geometry']").val();
        var scale = $("input[name='scale']").val();
        var dateFromTimeSeries = $("input[name='dateFromTimeSeries']").val();
        var dateToTimeSeries = $("input[name='dateToTimeSeries']").val();
        var yearFrom = $("input[name='yearFrom']").val();
        var yearTo = $("input[name='yearTo']").val();
        var url = "/" + serviceName;
        $.ajax({
            url: url,
            type: 'POST',
            async: false,
            crossDomain : true,
            contentType: 'application/json',
            data: JSON.stringify({
                imageName: imageName,
                collectionName: collectionName,
                visParams: visParams,
                dateFrom: dateFrom,
                dateTo: dateTo,
                collectionNameTimeSeries: collectionNameTimeSeries,
                indexName: indexName,
                geometry: JSON.parse(geometry),
                scale: scale,
                dateToTimeSeries: dateToTimeSeries,
                dateFromTimeSeries: dateFromTimeSeries,
                yearFrom: yearFrom,
                yearTo: yearTo
            })
        }).fail(function(jqXHR, textStatus, errorThrown) {
            alert(textStatus);
        }).done(function(data, textStatus, jqXHR) {
            if (data.errMsg) {
                alert(data.errMsg);
            } else {
                if (data.hasOwnProperty('mapid')) {
                    $('#map').show();
                    $('#chart').hide();
                    //
                    var mapId = data.mapid;
                    var token = data.token;
                    //
                    var eeMapOptions = {
                        getTileUrl: function(tile, zoom) {
                          var baseUrl = 'https://earthengine.googleapis.com/map';
                          var url = [baseUrl, mapId, zoom, tile.x, tile.y].join('/');
                          url += '?token=' + token;
                          return url;
                        },
                        tileSize: new google.maps.Size(256, 256)
                    };
                    // Create the map type.
                    var mapType = new google.maps.ImageMapType(eeMapOptions);
                    // Create the base Google Map.
                    google.maps.event.trigger(map, 'resize');
                    // Add the EE layer to the map.
                    map.overlayMapTypes.pop();
                    map.overlayMapTypes.push(mapType);
                    //
                    var lat = $("input[name='lat']").val();
                    var lng = $("input[name='lng']").val();
                    var myLatLng = new google.maps.LatLng(lat, lng);
                    map.panTo(myLatLng);
                } else if (data.hasOwnProperty('timeseries')) {
                    $('#map').hide();
                    $('#chart').show();
                    //
                    timeseriesData = [];
                    $.each(data.timeseries, function(index, value) {
                        if (value[1] != null) {
                            timeseriesData.push(value);
                        }
                    });
                    //
                    text = indexName;
                    Highcharts.chart('container', {
                        chart: {
                            zoomType: 'x'
                        },
                        title: {
                            text: text
                        },
                        subtitle: {
                            text: document.ontouchstart === undefined ? 'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
                        },
                        xAxis: {
                            type: 'datetime'
                        },
                        yAxis: {
                            title: {
                                text: text
                            }
                        },
                        legend: {
                            enabled: false
                        },
                        plotOptions: {
                            area: {
                                fillColor: {
                                    linearGradient: {
                                        x1: 0,
                                        y1: 0,
                                        x2: 0,
                                        y2: 1
                                    },
                                    stops: [
                                        [0, Highcharts.getOptions().colors[0]],
                                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                                    ]
                                },
                                marker: {
                                    radius: 2
                                },
                                lineWidth: 1,
                                states: {
                                    hover: {
                                        lineWidth: 1
                                    }
                                },
                                threshold: null
                            }
                        },
                        series: [{
                            type: 'area',
                            name: text,
                            data: timeseriesData
                        }]
                    });
                }
            }
        });
    });

    </script>

    </body>
</html>
