#
Flask>=0.12.2
Flask-Cors==3.0.3

#
google-api-python-client>=1.6.2
pyCrypto>=2.6.1

# custom google earth engine
-e git+git://github.com/openforis/earthengine-api.git@v0.1.124.1#egg=earthengine-api&subdirectory=python
