#
Flask>=0.12.2
Flask-Cors==3.0.3

#
google-api-python-client>=1.6.2
pyCrypto>=2.6.1
numpy==1.14.1

# earthengine-api>=0.1.111
# custom google earth engine
git+git://github.com/openforis/earthengine-api.git@v0.1.137#egg=earthengine-api&subdirectory=python
